<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="NopCommerce Suite" thread-count="3">
	<test name="Chrome Test">
		<parameter name="browserName" value="Chrome" />
		<classes>
			<class name="tests.FormAuthenticationTests" />
		</classes>
	</test> <!-- Test -->

	
</suite> <!-- Suite -->
